<!DOCTYPE html>
<html lang="en">
<title>
    <%= title %>
</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<%- include('../partials/head') %>
    <%- include('../partials/header') %>

        <body>
            <ul>
                <% articles.forEach((article)=> { %>
                    <li>
                        <h2>
                            <%= article.title %>
                        </h2>
                        <p>
                            <%= article.body %>
                        </p>
                        <p>
                            <%= article.stk %>
                        </p>
                    </li>
                    <hr />
                    <% }) %>
            </ul>
        </body>
        <%- include('../partials/footer') %>

</html>